<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.attachment.mapper.ProjectAttachmentMapper">
    
    <resultMap type="ProjectAttachment" id="ProjectAttachmentResult">
        <result property="id"    column="id"    />
        <result property="projectId"    column="project_id"    />
        <result property="path"    column="path"    />
        <result property="attachment"    column="attachment"    />
        <result property="suffix"    column="suffix"    />
        <result property="size"    column="size"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectProjectAttachmentVo">
        select id, project_id, path, attachment, suffix, size, create_by, create_time, update_by, update_time, remark, del_flag from project_attachment
    </sql>

    <select id="selectProjectAttachmentList" parameterType="ProjectAttachment" resultMap="ProjectAttachmentResult">
        <include refid="selectProjectAttachmentVo"/>
        <where>  
            <if test="projectId != null "> and project_id = #{projectId}</if>
            <if test="path != null  and path != ''"> and path = #{path}</if>
            <if test="attachment != null  and attachment != ''"> and attachment = #{attachment}</if>
            <if test="suffix != null  and suffix != ''"> and suffix = #{suffix}</if>
        </where>
    </select>
    
    <select id="selectProjectAttachmentById" parameterType="Long" resultMap="ProjectAttachmentResult">
        <include refid="selectProjectAttachmentVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertProjectAttachment" parameterType="ProjectAttachment" useGeneratedKeys="true" keyProperty="id">
        insert into project_attachment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">project_id,</if>
            <if test="path != null">path,</if>
            <if test="attachment != null">attachment,</if>
            <if test="suffix != null">suffix,</if>
            <if test="size != null">size,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null">#{projectId},</if>
            <if test="path != null">#{path},</if>
            <if test="attachment != null">#{attachment},</if>
            <if test="suffix != null">#{suffix},</if>
            <if test="size != null">#{size},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateProjectAttachment" parameterType="ProjectAttachment">
        update project_attachment
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="path != null">path = #{path},</if>
            <if test="attachment != null">attachment = #{attachment},</if>
            <if test="suffix != null">suffix = #{suffix},</if>
            <if test="size != null">size = #{size},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProjectAttachmentById" parameterType="Long">
        delete from project_attachment where id = #{id}
    </delete>

    <delete id="deleteProjectAttachmentByIds" parameterType="String">
        delete from project_attachment where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>